body{
	margin: 0;
	padding:0;
}

.navbar{
	position: fixed;
	top: 0%;
	width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	position: fixed;
	top: 0%;
	width: 100%;
	left: 0;
	vertical-align: middle;
}

li {
	display: inline-block;
	width: 20%;
	margin: 0;
	padding: 0;
	float: left;
	
}

li a {
    display: block;
    color: #ecf0f1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	
	
	
}

li a:hover {
    background-color: #111;
}


#container{
	width: 80%;
	margin: 0px auto;
			
}	
#main-navigation{
	height: 10vh;
	padding: 5px;
	line-height: 10vh;
			
}
#titel-tekst{
	text-align: center;
}
#del1{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 60px;
	padding-top: 10px;
	margin: 0px;
}

#del2{
	font-family: 'Merienda One', cursive;
	font-size: 50px;
	color: #2980b9;
	padding: 0px;
	margin: 0px;
}

.forside-tekst{	
	
}

.forside-tekst h2{
	width: 33%;
	display: inline-block;
	font-family: 'Roboto Condensed', sans-serif;

}

.info-tekst{	
	
}
.info-tekst-contact{
	width: 100%;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 40px;
}

.info-tekst h2{
	width: 100%;
	font-family: 'Roboto Condensed', sans-serif;
}
.info-tekst h3{
	width: 100%;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 40px;
	
}
.info-tekst p{
	width: 100%;
	font-family: 'Roboto Condensed', sans-serif;
}
.cv-info{
	padding-left: 50px;
	
}

.info-tekst-hvid{	
	
}

.info-tekst-hvid h2{
	width: 100%;
	font-family: 'Roboto Condensed', sans-serif;
	color: #ecf0f1;
}

.info-tekst-hvid p{
	width: 100%;
	font-family: 'Roboto Condensed', sans-serif;
	color: #ecf0f1;
}
.info-tekst-hvid li{
	width: 100%;
	font-family: 'Roboto Condensed', sans-serif;
	color: #ecf0f1;
}
.gallery-image {
	display: inline-block;
	width: 33.3333%;
	color: #7f8c8d;
	margin: 0;
	padding: 0;
	float: left;
}

.gallery-image:hover {
    background-color: black;
	color: #ecf0f1;
}

.gallery-image img {
    width: 100%;
    height: auto;
}

.desc {
	font-family: 'Roboto Condensed', sans-serif;
    padding: 15px;
    text-align: center;
	}
.forside-container {
	width: 100%;
	height: 100vh;
	background-color: white;
	
}

.gallery-container{
	width: 100%;
	height: 100vh;
	background-color: #333;
	padding-bottom: 20%;
	padding-top: 5px;
}

.info-container{
	width: 100%;
	height: 100vh;
	background-color: white;	
	top: 0;
}

.titel-tekst-containers-hvid{
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 40px;
	padding-top: 0px;
	margin: 0px;
	color: #ecf0f1;
	top: 0;
	
}

.titel-tekst-containers-sort{
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 40px;
	padding-top: 0px;
	margin: 0px;
	color: black;
	top: 0;
	
}
.cv-container{
	width: 100%;
	height: 100vh;
	background-color: #333;
	padding-top: 5px;
	
}
.contact-me-container{
	width: 100%;
	height: 100vh;
	background-color: white;
	display: inline-block;
}


#contact_form {
    border-radius: 5px;
    padding: 20px;
	font-family: 'Roboto Condensed', sans-serif;
	width: 50%;
	background-color: #f2f2f2;

}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;  
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px; 
    resize: vertical;
}
input[type=submit] {
    background-color: #333;
    color: #ecf0f1;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: black;
}

.contact-public-media{
	width: 40%;
	float: right;
	
}
#facebook{
	width: 200px;
	height: 200px;
	
}
#twitter{
	width: 200px;
	height: 200px;		
}
#download-icon{
	width: 100px;
	height: 100px;
	padding-left: 45%;
		
}
